
@import"components/equipamiento";
@import"components/vars";
@import"components/listas";
@import"components/botton";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: $color-principal;
    color: whitesmoke;
}
header{
    text-align: center;
    h1{
        background-image: ($colores-secundarios);
        padding: 30px 30px 30px 30px;
        border-top: 2px solid black;
    }
    ul{
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

main{
    h2{
        margin-top: 50px;
        list-style: none;
       
    }
    p{
         background-size: contain;
        margin-top: 5px;
        padding: 50px 50px 50px 50px;
        
    }
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;

}
:link{
    text-decoration: none;
    color: white;
}
:visited{
    text-decoration: none;
    color: whitesmoke;
}
.contenedor{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

footer{
    text-align: center;
}
main{
    display: block;
}
.imgMuestra{
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: repeat(4, 25%) ;
    gap: 1rem;
    margin: 3rem 3rem 3rem 3rem;

}
.carousel{
    gap: 1rem;

}

@media screen and (min-width:660px) {
    div.img-cuatro{
        display: none;
    }
    
}

@media screen and (min-width:1024px){
    header{
        display: flex;
        gap: 1.5rem;
        align-items: center;
        justify-content: space-around;

    }
    header nav ul{
        display: flex;
        gap: 1.5rem;
    }
    a:hover{
        background-image: $color-boton;
        font-size: 1.3rem;
        font-weight: bold;
    }
    
    
    .imgMuestra{
        display: grid;
        width: 90%;
        height: 90%;
        object-fit: cover;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50% 50%;
    }
    .footer{
        background-color: black;
        padding: 1em 0;
        text-align: center;
        position: absolute;
        bottom: 0;
    }
    .carousel{
        height: 70vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 100%) ;
        gap: 1rem;
        margin: 3rem 3rem 3rem 3rem;
    }
    
    }