//lista de colores
$color-principal:#000!important;

$colores-letra: whitesmoke;

$colores-secundarios: linear-gradient(to left top, #f78b03, #d97407, #ba5f08, #9c4a07, #7e3705);

$color-border: #f78b03
